<table class="table table-hover">
    <tr>
        <td width="128px">
                <img src="{{ node.avatar(128) }}" />
        </td>
        <td>
			<a href="{{ url_for('main.node', nodeid=node.id) }}"><h1>{{ node.name }}</h1></a>
			{% if not edit_node %}
				<a href="{{ url_for('main.edit_node', nodeid=node.id) }}">Edit Node</a></br>
			{% endif %}
			Project: <a href="{{ url_for('main.project', projectid=node.project_id) }}">
				{{ node.project.name }}</a></br>
			<i>Created by 
				<a href="{{ url_for('main.user', username=node.created_by.username) }}">
    	                	{{ node.created_by.first_name }} {{ node.created_by.last_name }}</a></i>
        </td>
    </tr>
</table>
