    <table class="table table-hover">
        <tr>
            <td width="70px">
                    <img src="{{ project.avatar(70) }}" />
            </td>
            <td>
				<b>
					<a href="{{ url_for('main.project', projectid=project.id) }}">
					{{ project.name }}
					</a>
				</b></br>
				<i>Created by 
                	<a href="{{ url_for('main.user', username=project.created_by.username) }}">
                    	{{ project.created_by.first_name }} {{ project.created_by.last_name }}
                	</a> {{ moment(project.timestamp).fromNow() }}.
				</i>
            </td>
        </tr>
    </table>
