<table class="table table-hover">
    <tr>
        <td width="128px">
                <img src="{{ project.avatar(128) }}" />
        </td>
        <td>
		<a href= {{ url_for('main.project', projectid=project.id) }}><h1>{{ project.name }}</h1></a>
		{% if not edit %}
		<a href={{ url_for('main.edit_project', projectid=project.id) }}>Edit Project</a>
		</br>
		{% endif %}
		
		{% if not analysis %}
		<a href={{ url_for('main.analyze_project', projectid=project.id) }}>Analyze Project</a>
		{% endif %}
        </td>
    </tr>
</table>
